.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 600px;
}

.btn-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* height: 400px; */
    /* width: 500px; */
    gap: 5px;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    
}

.number {
    /* height: 75px; */
    /* width: 75px; */
}

.center-grid {
    grid-column-start: 2;
}

.operator-grid {
    display: grid;
    gap: 5px;
}

.delete-grid {
    /* display: grid; */
    grid-template-columns: 2fr 2fr;
}