body {
    display: flex;
    justify-content: center;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 600px;
    margin: 24px;
}

.display {
    font-size: 64px;
    text-align: end;
    height: 100px;
    background-color: #a2af77;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: #2b2a2d;
    padding: 45px 20px;
    border-radius: 16px;
}

.grid-column-span-2 {
    grid-column: span 2;
}

.grid-column-span-4 {
    grid-column: span 4;
}

.btn {
    height: 100px;
    padding: 20px;
    font-size: 36px;
    border-radius: 6px;
    color: white;
}

.operand,
.dot {
    background-color: #58595b;
}

.clear {
    background-color: red;
}

.backspace {
    background-color: #e36800;
}

.equal {
    background-color: #06bd68;
}

.operator {
    background-color: #0070bf;
}
